*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.yellow{
  color: rgb(205, 224, 0);
  background-color: inherit;
}

.btn-search{
  color: red;
  background-color: inherit;
  cursor: pointer;
}
.img-flag{
  width: 35px;
  height: 30px;
}
